.score{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;

    >div{
        margin: 1em;
        font-size: 1.5em;
        color: rgb(228, 228, 228);
        text-shadow: 2px 2px 1px rgba(0,0,0);
    }
}